@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

.SignInForm {
    vertical-align: middle;
}
.SignInForm__form {
    width: 450px;
    height: 90px;
    border-radius: 4px;
    background: #ffffff;
    border: solid 1px #e6e6e6;
    margin-left: auto;
    margin-right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.SignInForm__SignInText {
    width: 470px;
    height: 37px;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #000000;
}
.SignInForm__instructions {
    width: 470px;
    height: 28px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #8e8e8e;
    opacity: 0.5;
}
.SignInForm-validation {
    width: 550px;
    height: 100px;
    background: #ffffff;
    border: solid 1px #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 #e6e6e6, 0 6px 20px 0 #e6e6e6;
}
.SignInForm__SignInText-enter {
    opacity: 0.01;
    transform: translateY(-10px);
}
.SignInForm__instructions-enter {
    opacity: 0.01;
    transform: translateY(10px);
}
.SignInForm__SignInText-enter-done, .SignInForm__instructions-enter-done {
    opacity: 1;
    transition: all 1s;
}
.SignInForm__form:hover {
    border: solid 1px #b3b3b3;
    cursor: text;
}
.SignInForm__form-enter {
    opacity: 0.01;
}
.SignInForm__form-enter-done {
    opacity: 1;
    transition: all 300ms ease-out;
}
.SignInForm__form-exit {
    opacity: 1;
}
.SignInForm__selector {
    width: 70px;
    height: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e8e8e;
    background: #ffffff;
    margin-left: 40px;
    margin-top: 34px;
    margin-bottom: 34px;
    border: none;
    outline: none;
}
.SignInForm__selector:hover {
    cursor: pointer;
}
.SignInForm__input {
    width: 124px;
    height: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    border: none;
    outline: none;
    margin-left: 10px;
}
.SignInForm__button {
    width: 150px;
    height: 90px;
    margin-right: auto;
    margin-left: 12px;
    border: none;
    outline: none;
    background: #5e5e5e;
    opacity: 0.3;
    background-size: 100% 200%;
}
.SignInForm__button:enabled {
    background: linear-gradient(to bottom, #000000 50%, #00f1ff 50%);
    background-size: 100% 200%;
    transition: all 0.2s;
    opacity: 1;
}
.SignInForm__button:enabled::before {
    opacity: 1;
}
.SignInForm__button:enabled:hover {
    background: linear-gradient(to bottom, #000000 50%, #00f1ff 50%) 0 100%;
    background-size: 100% 200%;
    transition: all 0.2s;
}