@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
/*-------Form--------*/
.Form {
    width: 450px;
    height: 90px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background: #ffffff;
    border: solid 1px #e6e6e6;
    display: inline-block;
    vertical-align: top;
    margin: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.Form:hover {
    border: solid 1px #b3b3b3;
    cursor: text;
}
.Form-enter {
    opacity: 0.01;
}
.Form-enter-done {
    opacity: 1;
    transition: all 300ms ease-out;
}
.Form-exit {
    opacity: 1;
}
/*-------Selector--------*/
.Form__selector {
    width: 70px;
    height: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8e8e8e;
    background: #ffffff;
    margin-left: 40px;
    margin-top: 34px;
    margin-bottom: 34px;
    border: none;
    outline: none;
}
.Form__selector:hover {
    cursor: pointer;
}
/*-------Input--------*/
.Form__input {
    width: 124px;
    height: 22px;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    border: none;
    outline: none;
    margin-left: 10px;
}
/*-------Button--------*/
.Form__button {
    width: 150px;
    height: 92px;
    padding: 0;
    margin-right: auto;
    margin-left: 12px;
    border: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;
    background: #5e5e5e;
    opacity: 0.3;
    background-size: 100% 200%;
    display: inline-block;
    vertical-align: top;
}
.Form__button:enabled {
    background: linear-gradient(to bottom, #000000 50%, #00f1ff 50%);
    background-size: 100% 200%;
    transition: all 0.2s;
    opacity: 1;
}
.Form__button:enabled::before {
    opacity: 1;
}
.Form__button:enabled:hover {
    background: linear-gradient(to bottom, #000000 50%, #00f1ff 50%) 0 100%;
    background-size: 100% 200%;
    transition: all 0.2s;
    cursor: pointer;
}
.Form__button:enabled:active {
    background: linear-gradient(to bottom, #00dce8 50%, #00dce8 50%);
}
.Form__button-svg{
    transition: all 0.2s;
}
.Form__button-svg:active {
    margin-left: 100px;
    transition: all 0.2s;
}