@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');

.App__policy-div {
  text-align: center;
  margin-bottom: 95px;
  margin-top: 3.6%;
}
.App__lock {
  width: 11px;
  height: 12px;
  object-fit: contain;
  margin-right: 5px;
  cursor: pointer;
}
.App__policy {
  width: 131px;
  height: 16px;
  font-family: Montserrat, serif;
  font-size: 13px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #8e8e8e;
  stroke: #8e8e8e;
  cursor: pointer;
}
.App__policy-enter {
  opacity: 0.01;
  transform: translateY(10px);
}
.App__policy-enter-done {
  opacity: 1;
  transition: all 1s;
}
.App__policy:hover {
  color: #00f1ff;
  stroke: #00f1ff;
}
.App__policy:active {
  color: #00dce8;
  stroke: #00dce8;
}